<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.hiltonstudios.NO"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>NO</name>

  <description>
      Not so scary horror/puzzle game
  </description>

  <author href="https://sites.google.com/view/hiltonstudios/home" email="hiltongamestudio@gmail.com">
      Hilton Game Studio
  </author>

</widget>